.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 92px 24px 96px 24px;
    font-size: 18px;
    text-decoration-skip-ink: none;
}

.header__menu {
    justify-self: start;  
    padding: 44px 36px 39px 26px;
    text-underline-offset: 1px;
}

.header__links-list {
    display: flex; 
    gap: 32px; 
    list-style: circle;    
}

.header__link_active {
    list-style: none;
}

.header__logo {
    display: block;
    justify-self: center;
}

.header__logo-image {
    display: block;
    height: 105px;
}

.address {
    justify-self: end; 
    text-align: left; 
    line-height: 1.4; 
    font-style: normal;
    padding-right: 64px;
}    
.address a, .address p {
    display: block; 
}

.address a {
    text-underline-offset: 4px;
}

.address p {
    padding-top: 1px;
}

.cover {
    display: flex;
    background-image: url('/images/cover.jpg');
    background-size: cover;
    background-position: center;
    flex-direction: column;  
    justify-content: flex-start;  
    position: relative;
    color: #fff;
    min-height: 757px;
    
}

.cover__title {
    padding: 165px 50px 113px;
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    z-index: 2;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    inset: 0;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0.3em;
}

.aligned-text {
    display: block;
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    line-height: 1;
    padding-top: 18px;
}

.aligned-text_right {
    line-height: 1;
    text-align: right;
    margin-right: -29px;
    letter-spacing: -1em;
    padding-top: 20px;   
}

.bet-button {
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    font-weight: 500;
    font-size: 22px;
    font-family: Raleway, sans-serif;
    padding: 12px 32px 11px 31px;
    margin: 0 50px 51px 0px;
    text-transform: uppercase;
}

.cover__description {
    display: flex;
    text-transform: uppercase;
    word-spacing: 20px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    flex-grow: 1; 
    margin-bottom: -22px;   
}

.cover__description-text {
    font-weight: 400;
    flex: 1;
    font-size: 22px;
    padding: 12px 0 62px 77px;
    
}

